body {
  font-family: 'Times New Roman';
  background: linear-gradient(#ffc400, #ff3700,orange);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #ffea00;
  border-radius: 25px;
  padding: 20px;
  width: 300px; 
}

h1 {
  text-align: center;
  color: black;
  margin-bottom: 20px;
}

input[type='text'] {
  width: 85%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.buttonn {
  width: 100%; 
  padding: 10px;
  border: none;
  background: rgb(7, 139, 7);
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.buttonn:hover {
  background: linear-gradient(135deg, #0b6b10, #24d12aef);
}

ul {
  padding: 0;
}

li {
  margin-bottom: 10px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  position: relative;
}

.task {
  flex-grow: 1; 
  margin-right: 10px; 
}

.delete-btn {
  top: 5px; 
  right: 5px; 
  background-color: #f44336;
  color: black;
  font-weight: 1000;
  padding: 4px 8px; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px; 
  width: 30px;
}
.delete-btn:hover{
  background-color: #ad0000;
}